{% extends "base_layout.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block heading %}
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-2"></div> {# Create a column to represent the sidebar space #}
        <div class="col-md-8">
            <h1 class="mt-5">Patients</h1>
        </div>
        <div class="col-md-2 text-right mt-5">
            <a href="{% url 'add_patient' %}" class="btn btn-success">Add A Patient</a>
            <a href="/" class="btn btn-secondary ml-2">Back Home</a>
        </div>
    </div>
</div>
{% endblock heading %}

<hr>

{% block content %}
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-2"></div> {# Create a column to represent the sidebar space #}
        <div class="col-md-8">
            <table class="table table-borderless">
                <thead class="border-bottom font-weight-bold text-center">
                    <tr>
                        <td>Patient Name</td>
                        <td>Date Recorded</td>
                        <td>Edit</td>
                        <td>Delete</td>
                        <td>Details</td>
                    </tr>
                </thead>
                <tbody>
                    {% for patient in patients %}
                       <tr>
                           <td>{{ patient.name }}</td>
                           <td>{{ patient.registered_date }}</td>
                           <td><a href="{% url 'edit_patient' patient.id %}" class="btn btn-info">Edit</a></td>
                           <td><a href="#" class="btn btn-danger">Delete</a></td>
                           <td><a href="{% url 'patient_details' patient.id %}" class="btn btn-success">Details</a></td>
                       </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-2"></div> {# Create another column to balance the space #}
    </div>
</div>
{% endblock content %}
