{
  "semi": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": ["**/*.html"],
      "options": {
        "parser": "html",
        "htmlWhitespaceSensitivity": "ignore"
      }
    }
  ]
}
