{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEXICO RHU</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}">
    <style>
        html, body{
            background: rgb(168, 255, 187);
            height: 100%;
        }
        .container-fluid{
            height: 100%;
            padding-top: 20px; /* To ensure space for the navbar */
        }
    </style>
</head>
<body>
<div class="container-fluid">
    {% include "navbar.html" %}
    <div class="mt-5">
        {% block heading %}{% endblock heading %}
        {% block content %}{% endblock content %}
    </div>
</div>

<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap-icons.js' %}"></script>
</body>
</html>
